.sign-up-container {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    .title {
        font-size: 1.17em;
        font-weight: bold;
    }
    .form-content {
        flex: 1;
        flex-direction: column;
        align-items: center;
        display: table-caption;
        .row-content {
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        .radio {
            height: 72px;
        }
        .profile {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}
